body {
    font-family: 'Inter', sans-serif;
    background: rgb(239,243,255);
    color:#212529;
background: linear-gradient(140deg, rgba(239,243,255,1) 54%, #d1fafe 100%);
background-attachment: fixed;
}
.opacity {
opacity: .5;
transition: 500ms all;
}
.opacity:hover {
    opacity: 1;
    }
p {
    font-weight: 300;
}
h1 {
    font-size: 4rem;
    letter-spacing: -.02em;
    font-weight: 700;
    font-size: 3.35rem;
    line-height: 2.75rem;
}
h5 {
    font-weight: 300;
    letter-spacing: -.02em;
}
.utopia-logo {
    position: fixed;
    left:30px;
    top:20px;
    transform: scale(.8);
}
.twitter-logo {
    position: fixed;
    right:25px;
    top:20px;
}
.facebook-logo {
    position: fixed;
    right:65px;
    top:20px;
}
.card {
    background: #ffffff;
    border-color: azure;
    border-radius: 9px;
box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.00),
0px 3px 4px rgba(3, 7, 18, 0.01),
0px 6px 9px rgba(3, 7, 18, 0.01),
0px 11px 15px rgba(3, 7, 18, 0.02),
0px 17px 24px rgba(3, 7, 18, 0.02);
}
.card-title {
    font-weight: 700;
}
.card-text {
    font-size: .9em;
}

.btn-news {
    padding: 3px;
    transition: 200ms all;
    font-size: .8em;
    border-radius: 30px;
box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.01),
0px 3px 4px rgba(3, 7, 18, 0.01),
0px 6px 9px rgba(3, 7, 18, 0.02),
0px 11px 15px rgba(3, 7, 18, 0.02),
0px 17px 24px rgba(3, 7, 18, 0.03);
    --bs-btn-color: #627e99;
    --bs-btn-bg: #d1f2fe;
    --bs-btn-border-color: #c7e5f0;
    --bs-btn-hover-color: #2c4247;
    --bs-btn-hover-bg: #aae4f9;
    --bs-btn-hover-border-color: #aae4f9;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #aae4f9;
    --bs-btn-active-border-color: #aae4f9;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #aae4f9;
    --bs-btn-disabled-border-color: #aae4f9;
}

.btn-primary {
    transition: 200ms all;
    font-size: .8em;
    border-radius: 30px;
box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.01),
0px 3px 4px rgba(3, 7, 18, 0.01),
0px 6px 9px rgba(3, 7, 18, 0.02),
0px 11px 15px rgba(3, 7, 18, 0.02),
0px 17px 24px rgba(3, 7, 18, 0.03);
    --bs-btn-color: #e2e2e2;
    --bs-btn-bg: #35393d;
    --bs-btn-border-color: #c7e5f0;
    --bs-btn-hover-color: rgb(221, 221, 221);
    --bs-btn-hover-bg: #4a4f55;
    --bs-btn-hover-border-color: #aae4f9;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #aae4f9;
    --bs-btn-active-border-color: #313131;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #aae4f9;
    --bs-btn-disabled-border-color: #aae4f9;
}
.btn-secondary {
    transition: 200ms all;
    font-size: .8em;
    border-radius: 30px;
box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.01),
0px 3px 4px rgba(3, 7, 18, 0.01),
0px 6px 9px rgba(3, 7, 18, 0.02),
0px 11px 15px rgba(3, 7, 18, 0.02),
0px 17px 24px rgba(3, 7, 18, 0.03);
    --bs-btn-color: #5e5c5c;
    --bs-btn-bg: #fffcfc;
    --bs-btn-border-color: #cccccc;
    --bs-btn-hover-color: rgb(221, 221, 221);
    --bs-btn-hover-bg: #4a4f55;
    --bs-btn-hover-border-color: #cacaca;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #aae4f9;
    --bs-btn-active-border-color: #313131;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #aae4f9;
    --bs-btn-disabled-border-color: #aae4f9;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: var(--bs-btn-active-color);
    background-color: #35393d;
    border-color: #35393d;
}
span.dropdown {
    font-size: .8em;
}
.rounded-box {
    border-radius: 30px;
    border: 1px solid #dddcdc;
    max-width: 430px;
    margin: 0px auto;
}
.border-right {
    border-right: 1px solid #e7e7e7;
}
.border-left {
    border-left: 1px solid #e7e7e7;
}
.gradient-text {
    background-color: #e8a8f8;
    background-image: linear-gradient(-45deg, #D1F2FE, #e8a8f8);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.gradient-text-work {
    background-color: #afff6e;
    background-image: linear-gradient(-45deg, #99e5f3, #d9fca1);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.dropdown-menu {
    border-radius: 19px;
box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02),
  0px 5px 4px rgba(3, 7, 18, 0.03),
  0px 12px 9px rgba(3, 7, 18, 0.05),
  0px 20px 15px rgba(3, 7, 18, 0.06),
  0px 32px 24px rgba(3, 7, 18, 0.08);
  border-color:#f1f1f1;
}
ul > li {
font-size: .8em;
}
ul > li:hover {
    background: #eef8ff;
    }